<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Energy | Fullstack | Events</title>
  </head>
  <body>

    <table>
      <thead>
        <th>Date</th>
        <th>Event</th>
        <th>Location</th>
        <th>Attendees</th>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>{{ event.date|date:"Y-m-d" }}</td>
          <td>{{ event.name }}</td>
          <td>{{ event.location_name }}</td>
          <td>{{ event.employee_count }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2">No event found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
